.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.col-1 {
	flex: 8.333%;
	max-width: 8.333%;
}
.col-2 {
	flex: 16.667%;
	max-width: 16.667%;
}
.col-3 {
	flex: 25%;
	max-width: 25%;
}
.col-4 {
	flex: 33.333%;
	max-width: 33.333%;
}
.col-5 {
	flex: 41.667%;
	max-width: 41.667%;
}
.col-6 {
	flex: 50%;
	max-width: 50%;
}
.col-7 {
	flex: 58.333%;
	max-width: 58.333%;
}
.col-8 {
	flex: 66.667%;
	max-width: 66.667%;
}
.col-9 {
	flex: 75%;
	max-width: 75%;
}
.col-10 {
	flex: 83.333%;
	max-width: 83.333%;
}
.col-11 {
	flex: 91.667%;
	max-width: 91.667%;
}
.col-12 {
	flex: 100%;
	max-width: 100%;
}

/* BIGGER THAN 600px */

@media (min-width: 600px) {

	.container {max-width: 576px;}

	.col-sm-1 {
		flex: 8.333%;
		max-width: 8.333%;
	}
	.col-sm-2 {
		flex: 16.667%;
		max-width: 16.667%;
	}
	.col-sm-3 {
		flex: 25%;
		max-width: 25%;
	}
	.col-sm-4 {
		flex: 33.333%;
		max-width: 33.333%;
	}
	.col-sm-5 {
		flex: 41.667%;
		max-width: 41.667%;
	}
	.col-sm-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-sm-7 {
		flex: 58.333%;
		max-width: 58.333%;
	}
	.col-sm-8 {
		flex: 66.667%;
		max-width: 66.667%;
	}
	.col-sm-9 {
		flex: 75%;
		max-width: 75%;
	}
	.col-sm-10 {
		flex: 83.333%;
		max-width: 83.333%;
	}
	.col-sm-11 {
		flex: 91.667%;
		max-width: 91.667%;
	}
	.col-sm-12 {
		flex: 100%;
		max-width: 100%;
	}
}

/* BIGGER THAN 768px */

@media (min-width: 768px) {

	.container {max-width: 750px;}

	.col-md-1 {
		flex: 8.333%;
		max-width: 8.333%;
	}
	.col-md-2 {
		flex: 16.667%;
		max-width: 16.667%;
	}
	.col-md-3 {
		flex: 25%;
		max-width: 25%;
	}
	.col-md-4 {
		flex: 33.333%;
		max-width: 33.333%;
	}
	.col-md-5 {
		flex: 41.667%;
		max-width: 41.667%;
	}
	.col-md-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-md-7 {
		flex: 58.333%;
		max-width: 58.333%;
	}
	.col-md-8 {
		flex: 66.667%;
		max-width: 66.667%;
	}
	.col-md-9 {
		flex: 75%;
		max-width: 75%;
	}
	.col-md-10 {
		flex: 83.333%;
		max-width: 83.333%;
	}
	.col-md-11 {
		flex: 91.667%;
		max-width: 91.667%;
	}
	.col-md-12 {
		flex: 100%;
		max-width: 100%;
	}
}

/* BIGGER THAN 992px */

@media (min-width: 992px) {

	.container {max-width: 980px;}

	.col-bg-1 {
		flex: 8.333%;
		max-width: 8.333%;
	}
	.col-bg-2 {
		flex: 16.667%;
		max-width: 16.667%;
	}
	.col-bg-3 {
		flex: 25%;
		max-width: 25%;
	}
	.col-bg-4 {
		flex: 33.333%;
		max-width: 33.333%;
	}
	.col-bg-5 {
		flex: 41.667%;
		max-width: 41.667%;
	}
	.col-bg-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-bg-7 {
		flex: 58.333%;
		max-width: 58.333%;
	}
	.col-bg-8 {
		flex: 66.667%;
		max-width: 66.667%;
	}
	.col-bg-9 {
		flex: 75%;
		max-width: 75%;
	}
	.col-bg-10 {
		flex: 83.333%;
		max-width: 83.333%;
	}
	.col-bg-11 {
		flex: 91.667%;
		max-width: 91.667%;
	}
	.col-bg-12 {
		flex: 100%;
		max-width: 100%;
	}

	.col-bg-1-offset {
	  margin-left: 8.333%;
	}

	.col-bg-2-offset {
		margin-left: 16.667%;
	}
}

/* BIGGER THAN 1200px */

@media (min-width: 1200px) {

	.container {max-width: 1170px;}

	.col-xl-1 {
		flex: 8.333%;
		max-width: 8.333%;
	}
	.col-xl-2 {
		flex: 16.667%;
		max-width: 16.667%;
	}
	.col-xl-3 {
		flex: 25%;
		max-width: 25%;
	}
	.col-xl-4 {
		flex: 33.333%;
		max-width: 33.333%;
	}
	.col-xl-5 {
		flex: 41.667%;
		max-width: 41.667%;
	}
	.col-xl-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-xl-7 {
		flex: 58.333%;
		max-width: 58.333%;
	}
	.col-xl-8 {
		flex: 66.667%;
		max-width: 66.667%;
	}
	.col-xl-9 {
		flex: 75%;
		max-width: 75%;
	}
	.col-xl-10 {
		flex: 83.333%;
		max-width: 83.333%;
	}
	.col-xl-11 {
		flex: 91.667%;
		max-width: 91.667%;
	}
	.col-xl-12 {
		flex: 100%;
		max-width: 100%;
	}

	.col-xl-1-offset {
	  margin-left: 8.333%;
	}

	.col-xl-2-offset {
		margin-left: 16.667%;
	}
}

